.embla {
  overflow: hidden;
  width: 100%;
}
.embla__container {
  display: flex;
  gap: 15px;
}
.embla__slide {
  flex: 0 0 auto;
  min-width: 400px;
  max-width: 400px;
  padding: 0 5px;
  margin-right: 7px;
}

.embla__slide img {
  margin-top: 40px;
  height: 420px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
